.box {
  position: absolute;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in-out;
}

.box-1 {
  background-color: #f2f2f2;
  z-index: 2;
  top: 0;
  left: 0;
}

.box-2 {
  background-color: #d9d9d9;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.box-1:hover + .box-2 {
  transform: translate(10px, 10px);
  z-index: 3;
}
