@tailwind base;
@tailwind components;
@tailwind utilities;

:root::-webkit-scrollbar {
  display: none;
}

.containerCard:hover .card {
  /* filter: blur(2px); */
  opacity: 0.5;
  /* transform: scale(.98); */
  box-shadow: none;
}

.containerCard:hover .card:hover {
  transform: scale(1.02);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  /* background: #A82C2C; */
  color: white;
}
