@tailwind base;
@tailwind components;
@tailwind utilities;

:root::-webkit-scrollbar {
  display: none;
}

.containerCard:hover .card {
  opacity: 0.5;
  box-shadow: none;
}

.containerCard:hover .card:hover {
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
  color: white;
}
